.DS_Store
references/internal-paid-standards/**
!references/internal-paid-standards/README*
!references/internal-paid-standards/NOTES*
*.pyc
__pycache__/
.claude/
*.asciidoc.log.txt
*.pdf.err
*.err.html
relaton/
